<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Взять фильм в аренду</title>
</head>
<body>
<div layout:fragment="content">
    <h3 th:text="${film.getFilmTitle()}"></h3>
    <form method="POST" enctype="multipart/form-data" th:action="@{/rent/get-film}" th:object="${publishForm}">
        <input type="hidden" name="filmId"
               th:value="${film.id}">
        <div class="mb-3">
            <label for="count" class="form-label">Количество</label>
            <input name="count" type="text" class="form-control" id="count">
        </div>
        <div class="mb-3">
            <label for="rentPeriod" class="form-label">Количество дней аренды</label>
            <input name="rentPeriod" type="text" class="form-control" id="rentPeriod">
        </div>
        <button type="submit" class="btn btn-primary">Взять фильм</button>
        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </form>
</div>
</body>
</html>

