<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Добавить режиссера к фильму</title>
</head>
<body>
<div layout:fragment="content">
  <h3 class="mt-3 mb-3" th:text="'Добавить режиссера к фильму: ' + ${director}"></h3>
  <form class="needs-validation" novalidate style="max-width: 50vw" method="POST" th:action="@{/films/add-director}" th:object="${filmDirectorForm}">
    <input type="hidden" name="filmId" th:value="${filmId}">
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <!--TODO: Посмотреть в сторону select списка с вводом-->
          <select class="form-select" name="directorId" id="directorsFio" required>
            <option selected th:value="${null}">Выберите режиссера</option>
            <option
                    th:each="director : ${directors}"
                    th:value="${director.getId()}"
                    th:text="${director.getDirectorsFio()}">
            </option>
          </select>
          <label for="directorsFio">ФИО режиссера</label>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <button type="submit" class="btn btn-primary">Добавить</button>
      <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>
  </form>
</div>
</body>
</html>

