<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Добавить фильм</title>
</head>
<body>
<div layout:fragment="content">
  <h3 class="mt-3 mb-3">Добавить фильм</h3>
  <form class="needs-validation" style="max-width: 50vw" method="POST" th:action="@{/films/add}" th:object="${filmForm}">
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <!--Название поля инпута должно строго соответствовать названию поля класса (DTO)-->
          <input name="filmTitle" type="text" class="form-control" id="title" placeholder="Название фильма" required>
          <label for="title">Название</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <select class="form-select" name="genre" id="genre" required>
            <option selected value="default">Выберите жанр из списка</option>
            <option th:each="genre : ${T(com.np.sber.filmCollection.model.Genre).values()}"
                 th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>
          </select>
          <label for="genre">Жанр</label>
        </div>
      </div>
    </div>

    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input name="premierYear" type="date" class="form-control" id="date" placeholder="Дата премьеры" required>
          <label for="date">Дата премьеры</label>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input name="country" type="text" class="form-control" id="storage" placeholder="Страна">
          <label for="storage">Страна</label>
        </div>
      </div>
<!--      <div class="col-md">-->
<!--        <div class="form-floating">-->
<!--          <textarea name="description" type="text" class="form-control" id="description" placeholder="Описание"></textarea>-->
<!--          <label for="description">Описание</label>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div class="mt-3 row g-2">
      <button type="submit" class="btn btn-primary">Добавить</button>
      <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>
  </form>
</div>
</body>
</html>
