<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Изменить фильм</title>
</head>
<body>
<div layout:fragment="content">
  <h3 class="mt-3 mb-3" th:text="'Обновить фильм ' + ${film.getFilmTitle()}"></h3>
  <form enctype="multipart/form-data" class="needs-validation" novalidate style="max-width: 50vw" method="POST" th:action="@{/films/update}" th:object="${filmForm}">
    <input type="hidden" name="id"
           th:value="${film.id}">
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <!--Название поля инпута должно строго соответствовать названию поля класса (DTO)-->
          <input name="filmTitle" th:value="${film.getFilmTitle()}" type="text" class="form-control" id="title" placeholder="Название фильма" required>
          <label for="title">Название</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <select class="form-select" name="genre" id="genre" required th:object="${film}" th:field="*{genre}">
            <option th:value="default">Выберите жанр из списка</option>
            <option th:selected="${film.getGenre().getGenreTextDisplay()}"
                    th:each="genre : ${T(com.np.sber.filmCollection.model.Genre).values()}"
                    th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>
          </select>
          <label for="genre">Жанр</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
    </div>
    <div class="mt-3 row g-2">
      <div class="col-md">
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input name="premierYear" th:value="${film.getPremierYear()}" type="date" class="form-control" id="date" placeholder="Дата премьеры" required>
          <label for="date">Дата премьеры</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input name="country" th:value="${film.getCountry()}" type="text" class="form-control" id="country" placeholder="Страна">
          <label for="country">Страна</label>
        </div>
      </div>
      <!--      <div class="col-md">-->
      <!--        <div class="form-floating">-->
      <!--          <textarea name="description" th:value="${film.getDescription()}" type="text" class="form-control" id="description" placeholder="Описание"></textarea>-->
      <!--          <label for="description">Описание</label>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
    <div class="mt-3 row g-2">
      <button type="submit" class="btn btn-primary">Обновить</button>
      <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>
  </form>
</div>
</body>
</html>
