<!DOCTYPE html>
<html lang="ru"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Фильмы</title>
</head>
<body>
<div layout:fragment="content">
  <hr class="hr"/>
  <h3>Поиск фильма</h3>
  <form method="POST" th:action="@{/films/search}" th:object="${filmSearchForm}">
    <div class="mt-0 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input name="filmTitle" type="text" class="form-control" id="filmTitle" placeholder="Название фильма">
          <label for="filmTitle">Название фильма</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input name="directorsFio" type="text" class="form-control" id="directorsFio" placeholder="ФИО режиссера">
          <label for="directorsFio">Режиссер</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <select class="form-select" name="genre" id="genre">
            <option selected th:value="null">Выберите жанр из списка</option>
            <option th:each="genre : ${T(com.np.sber.filmCollection.model.Genre).values()}"
                    th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>
          </select>
          <label for="genre">Жанр</label>
        </div>
      </div>
      <div class="row g-2">
        <button type="submit" class="btn btn-secondary">Найти фильм</button>
      </div>
    </div>
  </form>
  <hr class="mt-3 hr"/>
  <div class="mt-5">
    <div class="row">
      <div class="col">
        <h2>Все фильмы</h2>
      </div>
      <div class="col">
        <a
                sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('EDITOR'))"
                href="/films/add"
                class="btn btn-success"
                role="button"
                style="float: right"
                aria-disabled="true">Добавить фильм</a>
      </div>
    </div>
    <div>
      <table class="table table-hover mt-3">
        <thead>
        <tr>
          <th scope="col">Название</th>
          <th scope="col">Жанр</th>
          <th scope="col">Страна</th>
          <th scope="col">Количество</th>
          <th scope="col">Дата премьеры</th>
          <th scope="col">Режиссер(ы)</th>
          <!--          <th scope="col">Онлайн копия</th>-->
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="film : ${films}">
          <td>
            <a class="text-link text-blue" th:href="'/films/' + ${film.getId()}" th:text="${film.getFilmTitle()}"></a>
          </td>
          <td th:text="${film.getGenre().getGenreTextDisplay()}"></td>
          <td th:text="${film.getCountry()}"></td>
          <td th:text="${film.getPremierYear()}"></td>
          <td>
                        <ul>
                          <li th:each="director : ${film.getDirectors()}" th:text="${director.getDirectorsFio()}"></li>
                        </ul>
          </td>
          <td>
            <div sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('EDITOR'))">
              <a class="btn btn-sm btn-outline-success" th:href="'/films/update/' + ${film.id}">Обновить</a>
              <a th:if="${!film.isDeleted()}" class="btn btn-sm btn-outline-danger" th:href="'/films/delete/' + ${film.id}"
                 onclick="return confirm('Вы действительно хотите удалить фильм?');">Удалить</a>
              <a th:if="${film.isDeleted()}" class="btn btn-sm btn-outline-warning" th:href="'/films/restore/' + ${film.getId()}">Восстановить</a>
<!--             добавить к фильму режиссера-->
              <a class="btn btn-sm btn-outline-success" th:href="'/films/add-director/' + ${film.getId()}">Добавить режиссера</a>
            </div>
            <a sec:authorize="isAuthenticated() && !hasRole('ADMIN')" class="btn btn-sm btn-outline-success"
               th:href="'/rent/get-film/' + ${film.id}">Арендовать фильм</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div>
      <nav aria-label="Pagination" th:if="${films.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
          <li class="page-item" th:classappend="${films.number eq 0} ? 'disabled'">
            <a class="page-link"
               th:href="@{/films?page={id}(id=${films.number lt 2 ? 1 : films.number})}"
               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" th:classappend="${i eq films.number + 1} ? 'active'"
              th:each="i : ${#numbers.sequence( 1, films.totalPages, 1)}">
            <a class="page-link" th:href="@{/films?page={id}(id=${i})}" th:text="${i}"
               th:title="${'Page '+ i}" data-toggle="tooltip"></a>
          </li>
          <li class="page-item" th:classappend="${films.number eq films.totalPages - 1} ? 'disabled'">
            <a class="page-link"
               th:href="@{/films?page={id}(id=${films.number + 2})}"
               aria-label="Next" title="Next Page" data-toggle="tooltip">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>


  </div>
</div>
</body>
</html>

